<main>
    <div class="container mb-3">        

        <section id="banner_img" class="mt-3">
            <div id="carousel-1" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="height: 300px;overflow: hidden;"><img class="w-100 d-block" src="../../assets/images/AddictRC_2022_SCOTT_BIKE_PHOTO_BY_GeorgeMarshall_0001_hires_resize_1920.jpg" alt="Slide Image" style="height: 100%;object-fit: cover;" />
                        <div style="position: absolute;top: 43%;left: 3%;">
                            <h2 style="font-weight: bold;text-shadow: 2px 2px 4px var(--bs-emphasis-color);color: var(--bs-body-bg);">안내 메시지 #1</h2>
                            <p style="color: var(--bs-body-bg);">뭐 이것저것 안내 많이 합니다. 많이 사용해주세요</p>
                        </div>
                    </div>
                    <div class="carousel-item" style="height: 300px;overflow: hidden;"><img class="w-100 d-block" src="../../assets/images/SPARK_2022_SCOTT_BIKE_Photo_by_RooFowler_HiRes_RZ61650_resize_1920.jpg" alt="Slide Image" style="height: 100%;object-fit: cover;" />
                        <div style="position: absolute;top: 43%;left: 3%;">
                            <h2 style="font-weight: bold;text-shadow: 2px 2px 4px var(--bs-emphasis-color);color: var(--bs-body-bg);">안내 메시지 #2</h2>
                            <p style="color: var(--bs-body-bg);">
                                할인합니다. 일부제품에 관해서 최대 30% 할인판매 중입니다<br />
                                많은 이용 부탁드립니다.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item" style="height: 300px;overflow: hidden;"><img class="w-100 d-block" src="../../assets/images/banner_hyb.jpg" alt="Slide Image" style="height: 100%;object-fit: cover;" />
                        <div style="position: absolute;top: 43%;left: 3%;">
                            <h2 class="invisible" style="font-weight: bold;text-shadow: 2px 2px 4px var(--bs-emphasis-color);color: var(--bs-body-bg);">안내 메시지 #2</h2>
                            <p  class="invisible" style="color: var(--bs-body-bg);">A</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>       
        <section id="main-news">
            <div id="row_new_article_label" class="row mt-3 mb-2">
                <div class="col">
                    <h4>새소식</h4>
                </div>
            </div>
            <div id="row_new_articles" class="row row-cols-1 row-cols-lg-2">
                <div class="col" *ngFor="let article of NewsArticle">
                    <app-content-box [article]="article"></app-content-box>
                </div>
            </div>
        </section>

        <section id="main-goods">
            <section id="goods_new" class=" mb-4">
                <div id="row_new_item_label" class="row my-3">
                    <div class="col">
                        <h4>신상품</h4>
                    </div>
                </div>

                <div id="goods_new_items" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 gy-4">
                    <ng-container *ngFor="let Good of Goods; index as i">
                    <div class="col" *ngIf="i < 10">         
                        <app-goods-card [good]="Good"></app-goods-card>                        
                    </div>
                    </ng-container>
                </div>

            </section>

            <section id="goods_pop" class=" mb-4">
                
                <div id="row_new_item_label" class="row my-3">
                    <div class="col">
                        <h4>인기상품</h4>
                    </div>
                </div>
                
                <div id="goods_pop_items" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 gy-4">
                    <div class="col" *ngFor="let Good of PopGoods; index as i">
                        <ng-container *ngIf="i < 10">
                        <app-goods-card [good]="Good"></app-goods-card>
                        </ng-container>
                    </div>
                </div>
                
            </section>

        </section>
    </div>

</main>