.bike_size {
  min-width: 40px;
  background: #e6e5e5;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.good_item_ori_price {
  text-align: right;
  text-decoration: line-through;
  color: var(--bs-gray-400);
  font-size: .75rem;
  margin-bottom: 0px;
}

.good_item_disc_per {
  color: rgb(239,116,175);
  font-weight: bold;
  font-size: 0.75rem;
  }

tr:first-child {
  font-size: 1.2rem;
  font-weight: 700;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  height: 32px;
}

tr td:first-child {
  padding-left: 10px;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}