<!-- <p>good-detail works!</p> -->
<main>
    <div class="container">
        <section id="nav_indicator">
            <div class="row">
                <div class="col" style="font-size: .7rem;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><span>{{good_path?.level_root}}</span></a></li>
                        <li class="breadcrumb-item" *ngIf="good_path?.level_1_name"><a href="#"><span>{{good_path?.level_1_name}}</span></a></li>
                        <li class="breadcrumb-item" *ngIf="good_path?.level_2_name"><a href="#"><span>{{good_path?.level_2_name}}</span></a></li>
                    </ol>
                </div>
            </div>
        </section>
        <section id="good_summary">
            <div class="row row-cols-1 row-cols-lg-2 g-4">
                <div class="col p-5">
                    <div id="img_container" style="height: 400px;overflow: hidden;"><img src="{{good?.repr_image_url}}" style="object-fit: cover;width: 100%;height: 100%;" /></div>
                </div>
                <div class="col px-5" style="font-size: .8em;">
                    <h4>{{good?.good_nm}}</h4>
                    <div style="min-height: 300px;">

                        <h6 *ngIf="good?.good_nm_ko">{{good?.good_nm_ko}}</h6>
                        <p class="my-4" *ngIf="good?.message" innerHTML="{{good?.message}}"></p>
                        <app-good-info [good_infos]="good?.base_good_infos" ></app-good-info>
                    
                    </div>
                    
                    <ng-container *ngIf="!good?.price_history?.base_price && good?.price_history?.sale_price">
                    <div class="d-flex justify-content-between mt-5">
                        <h6>판매 금액</h6>
                        <h5>{{good?.price_history?.sale_price | number }} 원</h5>
                    </div>
                    </ng-container>
                        
                    <ng-container *ngIf="good?.price_history?.base_price">
                    <div class="d-flex justify-content-between mt-5 mb-1">
                        <h6 class="good_item_ori_price">판매 금액</h6>
                        <h5 class="good_item_ori_price">{{good?.price_history?.base_price | number }} 원</h5>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6>할인 판매 금액<span class="good_item_disc_per" *ngIf="good?.price_history?.discount_per"> {{good?.price_history?.discount_per | number }}%</span></h6>
                        <h5>{{good?.price_history?.sale_price | number }} 원</h5>
                    </div>
                    </ng-container>

                    <button class="btn btn-primary w-100 mt-4" type="button">구매하기</button>
                    <div class="d-md-flex gap-2 mt-2">
                        <button class="btn btn-dark w-50" type="button">좋아요</button><button class="btn btn-outline-secondary w-50" type="button">판매하기</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="good_detail" style="min-height: 400px;font-size: .8rem;" *ngIf="good?.detail_good_infos?.length != 0">
            <div id="good_detail-1" class="row mt-5 mx-auto">
                <div>
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <ng-container *ngFor="let detail_good_info of good?.detail_good_infos; index as i">
                        <li class="nav-item" role="presentation">
                            <ng-container *ngIf="i==0">
                            <a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-{{i}}">{{detail_good_info.good_info_subject}}</a>
                            </ng-container>
                            <ng-container *ngIf="i>0">
                                <a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-{{i}}">{{detail_good_info.good_info_subject}}</a>
                            </ng-container>
                        </li>
                        </ng-container>
                        <!-- 
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">제품정보</a>
                        </li>
                        <li class="nav-item" role="presentation" *ngIf="good?.specs" ><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">상세사양</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">지오메트리</a></li> 
                        -->
                    </ul>

                    <div class="tab-content mt-4">
                        <ng-container *ngFor="let detail_good_info of good?.detail_good_infos; index as i">
                        <ng-container *ngIf="i==0">
                        <div id="tab-{{i}}" class="tab-pane active" role="tabpanel" [innerHTML]="detail_good_info.good_info_content"></div>
                        </ng-container>
                        <ng-container *ngIf="i>0">
                        <div id="tab-{{i}}" class="tab-pane" role="tabpanel" [innerHTML]="detail_good_info.good_info_content"></div>
                        </ng-container>
                        </ng-container>
                        <!-- 
                        <div id="tab-1" class="tab-pane active" role="tabpanel">                                
                            <p>Content for tab 1.</p>
                        </div>                            
                        <div id="tab-2" class="tab-pane" role="tabpanel" *ngIf="good?.specs" innerHTML="{{good?.specs}}" align="center">                                
                        </div>
                        <div id="tab-3" class="tab-pane" role="tabpanel">
                            <p>Content for tab 3.</p>
                        </div> 
                        -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>