<section id="query_banner">
    <div class="container mb-3"></div>
</section>
<main>
    <div class="container" style="font-size: .7rem">
        <div id="write" class="row">
            <div class="col">
                <nav style="font-size: 0.85em">
                    <ul class="nav pagination">
                        <li class="nav-item page-item"><a class="nav-link active" [routerLink]="['/content_write']">글쓰기</a></li>
                        <li class="nav-item page-item"><a class="nav-link active" href="#">찾기옵션</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">관리2</a></li>
                        <li class="nav-item page-item"></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="caption-top">
                    <tr>
                        <th style="background: #e4e4e4;text-align: center;">번호</th>
                        <th style="background: #e4e4e4;text-align: center;">작성자</th>
                        <th style="background: #e4e4e4;">제목</th>
                        <th class="text-center" style="background: #e4e4e4;">조회건수</th>
                        <th class="text-center" style="background: #e4e4e4;">작성일</th>
                        <th class="text-center" style="background: #e4e4e4;">추천건수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Article of Articles">
                        <td>{{Article.article_id}}</td>
                        <td>{{Article.user_id}}</td>
                        <td><a [routerLink]="['/content_view/notice/', Article.article_id]">{{Article.article_subject}}</a></td>
                        <td style="text-align: right;">{{Article.read_count}}</td>
                        <td style="text-align: right;">{{Article.write_date | date: 'yyyy-MM-dd'}}</td>
                        <td style="text-align: center;">{{Article.recommend_count}}</td>
                    </tr>
                    <!-- <tr>
                        <td>1</td>
                        <td>colacan</td>
                        <td><a [routerLink]="['/content_view']">목적지 말하니까 화내는 택시기사</a></td>
                        <td style="text-align: right;">1</td>
                        <td style="text-align: right;">{{'2023-08-14' | date: 'yyyy-MM-dd'}}</td>
                        <td style="text-align: center;">5</td>
                    </tr>
                    <tr style="line-height: 24px;">
                        <td>2</td>
                        <td>badboy</td>
                        <td><a [routerLink]="['/content_view']">CGV 원데이프리패스 써봅니다</a><span class="badge bg-primary ms-2">4</span></td>
                        <td style="text-align: right;">1</td>
                        <td style="text-align: right;">{{'2023-08-15' | date: 'yyyy-MM-dd'}}</td>
                        <td style="text-align: center;">3</td>
                    </tr>
                    <tr style="line-height: 24px;">
                        <td>3</td>
                        <td>monkey</td>
                        <td><a [routerLink]="['/content_view']">손오공처럼 잘라주세요</a><span class="badge bg-primary ms-2">5</span></td>
                        <td style="text-align: right;">2</td>
                        <td style="text-align: right;">{{'2023-08-16' | date: 'yyyy-MM-dd'}}</td>
                        <td style="text-align: center;">1</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <div id="pagination" class="row">
            <div class="col">
                <nav style="font-size: 0.85em">
                    <ul class="nav pagination">
                        <li class="nav-item page-item"><a class="nav-link active" href="#">처음</a></li>
                        <li class="nav-item page-item"><a class="nav-link active" href="#">이전</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">1</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">2</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">3</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">다음</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">마지막</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>