<section id="query_banner">
    <div class="container mb-3"></div>
</section>
<section id="query_result">
    <div class="container">
        <div id="write" class="row">
            <div class="col">
                <nav style="font-size: 12px;">
                    <ul class="nav pagination">
                        <li class="nav-item page-item"><a class="nav-link active" href="#">글쓰기</a></li>
                        <li class="nav-item page-item"><a class="nav-link active" href="#">찾기옵션</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">관리2</a></li>
                        <li class="nav-item page-item"></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="caption-top">
                    <tr>
                        <th style="background: #e4e4e4;text-align: center;">번호</th>
                        <th style="background: #e4e4e4;text-align: center;">작성자</th>
                        <th style="background: #e4e4e4;">제목</th>
                        <th class="text-center" style="background: #e4e4e4;">조회건수</th>
                        <th class="text-center" style="background: #e4e4e4;">작성일</th>
                        <th class="text-center" style="background: #e4e4e4;">추천건수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="line-height: 24px;">1</td>
                        <td style="line-height: 24px;">colacan</td>
                        <td style="line-height: 24px;">목적지 말하니까 화내는 택시기사</td>
                        <td style="text-align: right;line-height: 24px;">1</td>
                        <td style="text-align: right;line-height: 24px;">2023-08-14</td>
                        <td style="text-align: center;line-height: 24px;">5</td>
                    </tr>
                    <tr style="line-height: 24px;">
                        <td style="line-height: 24px;">2</td>
                        <td style="line-height: 24px;">badboy</td>
                        <td style="line-height: 24px;"><span>CGV 원데이프리패스 써봅니다</span><span class="badge bg-primary ms-2">4</span></td>
                        <td style="text-align: right;line-height: 24px;">1</td>
                        <td style="text-align: right;line-height: 24px;">2023-08-15</td>
                        <td style="text-align: center;line-height: 24px;">3</td>
                    </tr>
                    <tr style="line-height: 24px;">
                        <td style="line-height: 24px;">3</td>
                        <td style="line-height: 24px;">monkey</td>
                        <td style="line-height: 24px;"><span>손오공처럼 잘라주세요</span><span class="badge bg-primary ms-2">5</span></td>
                        <td style="text-align: right;line-height: 24px;">2</td>
                        <td style="text-align: right;line-height: 24px;">2023-08-16</td>
                        <td style="text-align: center;line-height: 24px;">1</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="pagination" class="row">
            <div class="col">
                <nav style="font-size: 12px;">
                    <ul class="nav pagination">
                        <li class="nav-item page-item"><a class="nav-link active" href="#">처음</a></li>
                        <li class="nav-item page-item"><a class="nav-link active" href="#">이전</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">1</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">2</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">3</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">다음</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">마지막</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>