<footer class="text-center bg-dark mt-5">
    <div class="container text-white py-1 py-lg-1" style="font-size: .7rem;">
        <div class="row row-cols-2">
            <div class="col">
                <div class="card text-white bg-transparent float-end w-50" style="border-style: none;">
                    <div class="card-body" style="border-style: none;">
                        <h5 class="text-start card-title mb-3">쇼핑몰 안내</h5>
                        <ul class="list-unstyled text-start">
                            <li>쇼핑몰 이용 안내</li>
                            <li>문의등록</li>
                            <li>A/S 안내</li>
                            <li>기술자료</li>
                            <li>서비스이용약관</li>
                        </ul>
                    </div>
                </div>
                <div class="card text-white bg-transparent w-50" style="border-style: none;">
                    <div class="card-body">
                        <h5 class="text-start card-title mb-3">고객센터 이용안내</h5>
                        <h4 class="text-start card-subtitle mb-2">031-444-1234</h4>
                        <p class="text-start card-text">평일 상담시간ㅣ09:30 ~ 16:30</p>
                        <p class="text-start card-text">오후 1시~2시에는 전화상담이 많아<br />빠른 연결이 어렵습니다.<br />다른 시간으로 이용 부탁드립니다.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-transparent float-end w-50" style="border-style: none;">
                    <div class="card-body" style="border-style: none;">
                        <h5 class="text-start card-title mb-3">회사소개</h5>
                        <ul class="list-unstyled text-start">
                            <li>회사소개</li>
                            <li>회사위치</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p>Copyright 2023. DoIT Partners</p>
    </div>
</footer>