<section id="query_banner">
    <div class="container mb-3"></div>
</section>
<main>
    <div class="container" style="font-size: .7rem">
        <div class="table-responsive">
            <table class="table">
                <thead class="caption-top">
                    <tr>
                        <th style="background: #e4e4e4;">Order No</th>
                        <th style="background: #e4e4e4;">이미지</th>
                        <th style="background: #e4e4e4;">상품명</th>
                        <th class="text-center" style="background: #e4e4e4;">주문수량</th>
                        <th class="text-center" style="background: #e4e4e4;">주문금액</th>
                        <th class="text-center" style="background: #e4e4e4;">결제수단</th>
                        <th class="text-center" style="background: #e4e4e4;">상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Order of Orders">
                        <td style="line-height: 45px;">{{Order.order_no}}</td>
                        <td><a [routerLink]="['/good_detail', Order.good_id]"><img src="{{Order.rep_image}}" width="45 px" height="45 px" /></a></td>
                        <td style="line-height: 45px;"><a [routerLink]="['/good_detail', Order.good_id]">{{Order.name}}</a></td>
                        <td style="text-align: right;line-height: 45px;">{{Order.order_qty}}</td>
                        <td style="text-align: right;line-height: 45px;">{{Order.order_amount | number}}</td>
                        <td style="text-align: center;line-height: 45px;">{{Order.pay_method}}</td>
                        <td style="text-align: center;line-height: 45px;">{{Order.deli_stat}}</td>
                    </tr>                    
                </tbody>
            </table>
        </div>
        <div id="pagination" class="row">
            <div class="col">
                <nav style="font-size: 12px;">
                    <ul class="nav pagination">
                        <li class="nav-item page-item"><a class="nav-link active" href="#">처음</a></li>
                        <li class="nav-item page-item"><a class="nav-link active" href="#">이전</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">1</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">2</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">3</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">다음</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">마지막</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>