<main>
    <div class="container">
        <section id="wirte_header">
            <h3 id="wirte_header_name" class="my-4">게시물 작성</h3>
        </section>
        <section id="article_header" style="margin-bottom: 15px;"><select class="form-select w-25" style="margin-bottom: 7px;" name="select_board">
                <option value="0" selected>게시판을 선택하세요</option>
                <option value="12">공지사항</option>
                <option value="13">일반게시판</option>
                <option value="14">Q&amp;A</option>
            </select><input id="article_subject" class="form-control" type="text" style="width: 100%;" placeholder="제목을 입력하세요" /></section>
        <section id="article_body" style="margin-bottom: 15px;"><textarea id="article_body" class="form-control" style="width: 100%;height: 300px;" placeholder="내용을 입력하세요"></textarea></section>
        <section id="article_attach" style="margin-bottom: 30px;">
            <div id="attach_files" class="d-flex">
                <div style="width: 100%;"><input id="article_attach" class="form-control" type="file" /></div>
                <div class="d-flex justify-content-end align-items-center" style="padding-left: 4px;">
                    <div class="btn-group" role="group"><button class="btn btn-primary text-nowrap" type="button">추가</button><button class="btn btn-danger text-nowrap" type="button">삭제</button></div>
                </div>
            </div>
        </section>
        <section id="action">
            <div class="col-3 d-flex justify-content-center mx-auto gap-3"><button class="btn btn-primary" type="button" style="width: 90px;">저장</button><button class="btn btn-secondary" type="button" style="width: 90px;">취소</button></div>
        </section>
    </div>
</main>