/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

html, body { 
  height: 100%;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

body { margin: 0; }

main {
    min-height: calc(100% - 359px);;
    padding-bottom: 10px;
    position: relative;
  }
  
footer {
  position: relative;
  background: var(--bs-body-color);
  color: var(--bs-secondary-bg);
  padding-top: 10px;
}

footer .container {
  height: 100%;
}

a:link {
  text-decoration: none;
}