<section id="query_banner">
    <div class="container mb-3"></div>
</section>
<main>
    <div class="container">
        <section id="board_class">
            <h3 id="board_class_name" class="my-4">{{article?.category?.category_nm}}</h3>
            <hr style="margin-bottom: 4px;" />
        </section>
        <section id="article_header">
            <p id="article_subject" class="fw-bold">{{article?.article_subject}}</p>
            <div class="d-flex">
                <div class="col">
                    <span id="author" style="display: block;font-size: .8rem;font-weight: bold;">콜라캔</span><i class="far fa-eye" style="font-size: .7rem;margin-right: 5px;"></i>
                    <span id="read_count" style="font-size: .7rem;">{{article?.article_read_count}} 회</span><i class="far fa-clock" style="font-size: 0.7rem;margin: 0px;margin-left: 20px;margin-right: 5px;"></i>
                    <span id="write_date" style="display: inline;font-size: .7rem;">{{article?.article_write_datetime  | date: 'yyyy-MM-dd hh:mm'}}</span>
                </div>
            </div>
            <hr style="margin-top: 2px;" />
        </section>
        <section id="article_body">            
            <div [innerHTML]="article?.article_body">
            </div>
            <hr style="margin-top: 15px;" />
        </section>
        <section id="article_nav">
            <div *ngIf="lead_article">
                <i class="fa fa-chevron-up" style="margin-right: 5px;font-size: 0.7rem;color: var(--bs-gray-700);"></i>
                <span id="next_article" style="font-size: .6rem;color: var(--bs-gray-700);margin-right: 17px;">다음글</span>
                <span id="next_article_subject" style="font-size: .8rem;"><a [routerLink]="['/content_view/'+ lead_article.board_id +'/', lead_article.article_id]">{{lead_article?.article_subject}}</a></span>
                <span class="badge bg-primary ms-2" style="font-size: .5rem;">{{lead_article?.replies?.length}}</span>
                <span id="next_article_write_date" class="float-end" style="font-size: .7rem;line-height: 24px;">{{lead_article?.article_write_datetime | date : 'yyyy-MM-dd hh:mm'}}</span>
            </div>
            <div *ngIf="!lead_article" style="height:24px;" class="invisible">
                다음글
            </div>
            <div *ngIf="lag_article">
                <i class="fa fa-chevron-down" style="margin-right: 5px;font-size: 0.7rem;color: var(--bs-gray-700);"></i>
                <span id="prev_article" style="font-size: .6rem;color: var(--bs-gray-700);margin-right: 17px;">이전글</span>
                <span id="prev_article_subject" style="font-size: .8rem;"><a [routerLink]="['/content_view/'+ lag_article.board_id +'/', lag_article.article_id]">{{lag_article?.article_subject}}</a></span>
                <span class="badge bg-primary ms-2" style="font-size: .5rem;">{{lag_article?.replies?.length}}</span>
                <span id="prev_article_write_date" class="float-end" style="font-size: .7rem;line-height: 24px;">{{lag_article?.article_write_datetime | date : 'yyyy-MM-dd hh:mm'}}</span>
            </div>
            <div *ngIf="!lag_article" style="height:24px;" class="invisible">
                이전글
            </div>
            <hr style="margin-top: 15px;" />
        </section>
        <section id="reply_list" class="mt-3">
            <ng-container *ngFor="let reply of article?.replies">
            <app-reply-view [reply]="reply"></app-reply-view>
            </ng-container>
        </section>
        <section id="form_reply" style="margin-top: 16px;">
            <form [formGroup]="reply_form" (ngSubmit)="onSubmit()">
                <textarea id="reply_body" class="form-control" style="width: 100%;height: 80px;" placeholder="댓글 내용을 입력하세요" formControlName="reply_body"></textarea>
                <div class="col-3 d-flex justify-content-center mx-auto gap-3" style="margin-top: 12px;">
                    <button class="btn btn-primary" type="submit" style="width: 90px;" [disabled]="reply_form.pristine || reply_form.invalid">저장</button>
                    <button class="btn btn-secondary" type="button" style="width: 90px;">취소</button>
                </div>
            </form>
        </section>
    </div>
</main>