<section id="query_banner">
    <div class="container mb-3"></div>
</section>
<main>
    <div class="container">
        <section id="board_class">
            <h3 id="board_class_name" class="text-center my-4">공지사항</h3>
            <hr style="margin-bottom: 4px;" />
        </section>
        <section id="article_header">
            <p id="article_subject" class="fw-bold">장경구, 2023 강진 투어 개인종합 우승</p>
            <div class="d-flex">
                <div class="col"><span id="author" style="display: block;font-size: .8rem;font-weight: bold;">콜라캔</span><i class="far fa-eye" style="font-size: .7rem;margin-right: 5px;"></i><span id="read_count" style="font-size: .7rem;">282회</span><i class="far fa-clock" style="font-size: 0.7rem;margin: 0px;margin-left: 20px;margin-right: 5px;"></i><span id="write_date" style="display: inline;font-size: .7rem;">2023-09-12</span></div>
            </div>
            <hr style="margin-top: 2px;" />
        </section>
        <section id="article_body">
            <p>3월 7일(화)부터 11일(금)까지 강진에서 2023년의 두 번째 투어 강진투어가 열렸습니다. 지난 창녕에서 2번의 개인도로 우승, 개인종합 우승을 기록한 장경구 선수는 이번에도 종합 우승을 노렸고, 성공했습니다. 23년 2번의 투어, 총 4번의 개인도로에서 모두 우승을 기록하며 최고의 시즌을 보내고 있습니다. </p>
            <p>1일차 시합은 까치내재와 불티재 그리고 완만한 내리막이 있는 고속화도로 구간을 통과하며 4주회를 돌아야 하는 총 154.2km 거리의 코스입니다. 2번의 클라임이 있고 나머지는 고속으로 운영이 가능한 만큼 많은 브레이크 어웨이가 생길 수 있지만 이기도 하죠. </p>
            <p>올해 레이스 중 가장 긴 코스이기 때문에 초반부터 격렬한 레이스가 펼쳐질 것으로 예상되진 않았지만, 장경구 선수는 1랩부터 어택하며 3인으로 이루어진 브레이크 어웨이로 공격적인 경기 운영을 펼쳤습니다. 단, 3명의 브레이크 어웨이 그룹은 수적으로 부족했기 때문에 추격조는 40초 정도로 간격을 유지하고 있었습니다. </p>
            <p>장경구 선수는 3주회부터 독주에 나서기 시작했고, 단 몇 초라도 간격을 벌리고자 내리막에서도 쉬지않고 에어로 자세와 페달 스트로크를 통해 속도를 올렸습니다. 그 결과 추격조와 무려 7분 23초의 갭을 만들어내며 결승선을 가장 먼저 통과했습니다. 154.2km의 거리를 3시간 37분만에 주파하며 평속 42.52km를 기록했습니다. </p>
            <p>대회 2일차는 여성부 경기가 있고, 남성부는 휴식일입니다. 3일차는 개인도로2의 일정인데 26km 거리를 4주회 돌아야 하는 순환 코스입니다.(총 거리  103.8km) 개인도로 1과 같은 까치내재를 넘어야 하고, 짧은 업다운이 반복되는 코스입니다. 레이스 초반에는 대형의 팩이 형성되어 고속적으로 운영되었습니다. 그렇지만 1일차와 마찬가지로 3주회부터 독주를 시작했습니다. 초반에 끼우고 있던 선글라스는 어느덧 벗어던지고 오르막에서도 계속해서 속도를 높여나갔습니다. </p>
            <hr style="margin-top: 2px;" />
        </section>
        <section id="article_nav">
            <div><i class="fa fa-chevron-up" style="margin-right: 5px;font-size: 0.7rem;color: var(--bs-gray-700);"></i><span id="next_article" style="font-size: .6rem;color: var(--bs-gray-700);margin-right: 17px;">다음글</span><span id="next_article_subject" style="font-size: .8rem;">장경구, 전국체전 개인도로 우승으로 위치를 증명하다 </span><span class="badge bg-primary ms-2" style="font-size: .5rem;">3</span><span id="next_article_write_date" class="float-end" style="font-size: .7rem;line-height: 24px;">2023-09-14</span></div>
            <div><i class="fa fa-chevron-down" style="margin-right: 5px;font-size: 0.7rem;color: var(--bs-gray-700);"></i><span id="prev_article" style="font-size: .6rem;color: var(--bs-gray-700);margin-right: 17px;">이전글</span><span id="prev_article_subject" style="font-size: .8rem;">장경구, 2023 창녕투어 개인종합 및 단체종합 석권</span><span class="badge bg-primary ms-2" style="font-size: .5rem;">5</span><span id="prev_article_write_date" class="float-end" style="font-size: .7rem;line-height: 24px;">2023-09-11</span></div>
        </section>
        <section id="form_reply" style="margin-top: 16px;">
            <form method="post"><textarea id="reply_body" class="form-control" style="width: 100%;height: 80px;" placeholder="댓글 내용을 입력하세요"></textarea>
                <div class="col-3 d-flex justify-content-center mx-auto gap-3" style="margin-top: 12px;"><button class="btn btn-primary" type="button" style="width: 90px;">저장</button><button class="btn btn-secondary" type="button" style="width: 90px;">취소</button></div>
            </form>
        </section>
    </div>
</main>