<section id="query_banner">
    <div class="container mb-3"></div>
</section>
<section id="query_filter">
    <div class="container mb-3"></div>
</section>
<section id="query_result">
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead class="caption-top">
                    <tr>
                        <th style="background: #e4e4e4;">Order_No</th>
                        <th style="background: #e4e4e4;">이미지</th>
                        <th style="background: #e4e4e4;">상품명</th>
                        <th class="text-center" style="background: #e4e4e4;">주문수량</th>
                        <th class="text-center" style="background: #e4e4e4;">주문금액</th>
                        <th class="text-center" style="background: #e4e4e4;">결제수단</th>
                        <th class="text-center" style="background: #e4e4e4;">상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="line-height: 45px;">2023081700001</td>
                        <td><img src="../../../assets/images/ICSHG5010136.jpg" width="45 px" height="45 px" /></td>
                        <td style="line-height: 45px;">[ICSHG5010136] CS-HG50-10 (10단) [10단,11-36T]</td>
                        <td style="text-align: right;line-height: 45px;">1</td>
                        <td style="text-align: right;line-height: 45px;">44,500</td>
                        <td style="text-align: center;line-height: 45px;">카드</td>
                        <td style="text-align: center;line-height: 45px;">배송완료</td>
                    </tr>
                    <tr>
                        <td style="line-height: 45px;">2023081700002</td>
                        <td><img src="../../../assets/images/ICNHG54116I.jpg" width="45 px" height="45 px" /></td>
                        <td style="line-height: 45px;">[ICNHG54116I] CN-HG54 (10단,116링크) [CN-HG54]</td>
                        <td style="text-align: right;line-height: 45px;">1</td>
                        <td style="text-align: right;line-height: 45px;">28,700</td>
                        <td style="text-align: center;line-height: 45px;">카드</td>
                        <td style="text-align: center;line-height: 45px;">배송완료</td>
                    </tr>
                    <tr>
                        <td style="line-height: 45px;">2023081700002</td>
                        <td><img src="../../../assets/images/ICSHG5010136.jpg" width="45 px" height="45 px" /></td>
                        <td style="line-height: 45px;">[ICSHG5010136] CS-HG50-10 (10단) [10단,11-36T]</td>
                        <td style="text-align: right;line-height: 45px;">2</td>
                        <td style="text-align: right;line-height: 45px;">44,500</td>
                        <td style="text-align: center;line-height: 45px;">카드</td>
                        <td style="text-align: center;line-height: 45px;">배송완료</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="pagination" class="row">
            <div class="col">
                <nav style="font-size: 12px;">
                    <ul class="nav pagination">
                        <li class="nav-item page-item"><a class="nav-link active" href="#">처음</a></li>
                        <li class="nav-item page-item"><a class="nav-link active" href="#">이전</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">1</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">2</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">3</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">다음</a></li>
                        <li class="nav-item page-item"><a class="nav-link" href="#">마지막</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>